*{
    padding:0;
    margin:0;
    border:0;
    text-decoration: none;
    list-style: none;
}
body{
    width:100%;
    height:100%;
}

.all{
	/*position: absolute;*/
	width: 100%;
	/*height: 100%;*/
	/*border: 5px solid #fa0;*/
}



.mm{
	/*position: absolute;*/
	width: 55%;
	/*border: 2px solid #0f0;*/
	right: 0;
	left: 0;
	top: 0;
	margin: auto;
	padding: 135px 0%;
	/*overflow: hidden;*/
}
.mm .item{
	/*border: 2px solid #0ff;*/
	/*padding: 0 0 10px 0;*/
	font-size: 0;
}
.mm .item .itemb{
	width: 31.33333333333%;
	/*border: 1px solid #f00;*/
	display: inline-block;
	font-size: 14px;
	margin: 0 1%;
}

.mm .item .itemb select{
	width: 100%;
	padding: 8px 10px; 
	border: 1px solid #555;
	color: #787878;
}


.mm .map{
	position: relative;
	width: 100%;
	height: 300px;
	/*border: 1px solid #f00; */
	/*padding: 20px 0;*/
	margin: 30px 0 50px 0;
}

.mm .map #ggmapblock{
	position: absolute;
	width: 100%;
	height: 100%;
}




.mm .contactall{
	position: relative;
	width: 70%;
	right: 0;
	left: 0;
	margin: auto;
	/*border: 1px solid #f00;*/
	padding: 0px 0 30px 0;
	border-top: 1px solid #888;
}
.mm .contactall .contacttitle{
	position: relative;
	width: 50px;
	padding: 0 20px;
	/*display: inline-block;*/
	/*border: 3px solid #af5;*/
	top: -13px;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	background: #fff;
}
.mm .contactall .contact{
	/*border: 1px solid #9cf;*/
	padding: 30px 0;
	font-size: 0; 
}

.mm .contactall .contact .contactsame{
	display: inline-block;
	vertical-align: top;
	color: #666;
	line-height: 25px;
	font-size: 0;
}
.mm .contactall .contact .contactsame img{
	max-width: 100%; 
}
.mm .contactall .contact .contactsame .conll1{
	/*width: 40%;*/
	padding: 0 10px 0 0;
	/*border: 1px solid #0f0;*/
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
}
.mm .contactall .contact .contactll1{
	width: 60%;
	/*border: 1px solid #000;*/
}
.mm .contactall .contact .contactrr1{
	width: 35%;
	margin: 0 0 0 4%;
	font-size: 12px;
	/*border: 1px solid #f0f;*/
}

.mm .contactall .contact .contactll2{
	width: 35%;
	font-size: 12px;
	/*border: 1px solid #000;*/
}
.mm .contactall .contact .contactrr2{
	width: 60%;
	margin: 0 0 0 4%;
	/*border: 1px solid #aaa;*/
}



.rr{
	position: fixed;
	width: 15%;
	/*height: 100%;*/
	/*border: 2px solid #f0f;*/
	right: 0;
	top: 0;
	margin: auto;
	text-align: center;
	padding: 135px 0 0 0;
	/*font-family: 'Malgun Gothic';*/
	font-family: 'Segoe UI Semibold';

}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.mm{
		/*position: absolute;*/
		width: 90%;
		/*border: 2px solid #0f0;*/
		right: 0;
		left: 0;
		top: 0;
		margin: auto;
		padding: 50px 0;
		/*overflow: hidden;*/
	}
	.mm .item .itemb{
		width: 100%;
		/*border: 1px solid #f00;*/
		display: block;
		font-size: 14px;
		margin: 10px 0%;
	}

	.mm .contactall{
		position: relative;
		width: 90%;
		right: 0;
		left: 0;
		margin: auto;
		/*border: 1px solid #f00;*/
		padding: 0px 0px;
		border-top: 1px solid #888;
	}
	.mm .contactall .contact{
		/*border: 1px solid #ccc;*/
		padding: 30px 0px;
		margin: 20px 0;
		font-size: 0; 
	}

	.mm .contactall .contact .contactsame{
		display: block;
		vertical-align: top;
		color: #666;
		line-height: 25px;
		font-size: 0;
		/*border: 3px solid #ff0;*/
	}
	.mm .contactall .contact .contactsame img{
		max-width: 100%; 
	}
	.mm .contactall .contact .contactsame .conll1{
		/*width: 40%;*/
		padding: 0 10px 0 0;
		/*border: 1px solid #0f0;*/
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
	}
	.mm .contactall .contact .contactll1{
		width: 100%;
		/*border: 1px solid #000;*/
	}
	.mm .contactall .contact .contactrr1{
		width: 100%;
		margin: 20px 0%;
		font-size: 14px;
		/*border: 1px solid #f0f;*/
	}

	.mm .contactall .contact .contactll2{
		width: 100%;
		font-size: 14px;
		/*border: 1px solid #000;*/
	}
	.mm .contactall .contact .contactrr2{
		width: 100%;
		margin: 20px 0;
		/*border: 1px solid #aaa;*/
	}
}



@media only screen and (min-width : 481px) and (max-device-width : 767px){
	.mm{
		/*position: absolute;*/
		width: 90%;
		/*border: 2px solid #0f0;*/
		right: 0;
		left: 0;
		top: 0;
		margin: auto;
		padding: 50px 0;
		/*overflow: hidden;*/
	}
	.mm .item .itemb{
		width: 100%;
		/*border: 1px solid #f00;*/
		display: block;
		font-size: 14px;
		margin: 10px 0%;
	}

	.mm .contactall{
		position: relative;
		width: 90%;
		right: 0;
		left: 0;
		margin: auto;
		/*border: 1px solid #f00;*/
		padding: 0px 0px;
		border-top: 1px solid #888;
	}
	.mm .contactall .contact{
		/*border: 1px solid #ccc;*/
		padding: 30px 0px;
		margin: 20px 0;
		font-size: 0; 
	}

	.mm .contactall .contact .contactsame{
		display: block;
		vertical-align: top;
		color: #666;
		line-height: 25px;
		font-size: 0;
		/*border: 3px solid #ff0;*/
	}
	.mm .contactall .contact .contactsame img{
		max-width: 100%; 
	}
	.mm .contactall .contact .contactsame .conll1{
		/*width: 40%;*/
		padding: 0 10px 0 0;
		/*border: 1px solid #0f0;*/
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
	}
	.mm .contactall .contact .contactll1{
		width: 100%;
		/*border: 1px solid #000;*/
	}
	.mm .contactall .contact .contactrr1{
		width: 100%;
		margin: 20px 0%;
		font-size: 14px;
		/*border: 1px solid #f0f;*/
	}

	.mm .contactall .contact .contactll2{
		width: 100%;
		font-size: 14px;
		/*border: 1px solid #000;*/
	}
	.mm .contactall .contact .contactrr2{
		width: 100%;
		margin: 20px 0;
		/*border: 1px solid #aaa;*/
	}
}